@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 113px;
}

.w-1400 {
    width: 100%;
    height: 2214px;
    background: #071341;
    margin: 0 auto;
}

header {
    height: 113px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 580px;
    box-shadow: 10px 10px 28px 0 rgba(0, 0, 0, 0.75);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

nav ul a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header h2 {
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.one-position {
    height: 579px;
    width: 100%;
    background: #24204A;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.pos {
    width: 1153px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 115px;
    gap: 32px;
}

.one {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one p {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.8px;
}

.big h2 {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.junior p {
    width: 570px;
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}

.pos button {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img {
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    margin-right: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 318px;
    height: 318px;
    margin: 48px;
}

.code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 115px 85px 115px;

}

.dir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.dir div:nth-of-type(1) {
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #FF6853;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir div:nth-of-type(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.dir div p:nth-of-type(2) {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.dir2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.dir2 div:nth-of-type(1) {
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #FF537C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir2 div:nth-of-type(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.dir2 div p:nth-of-type(2) {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.dir3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.dir3 div:nth-of-type(1) {
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #80D2C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir3 div:nth-of-type(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.dir3 div p:nth-of-type(2) {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.dir4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.dir4 div:nth-of-type(1) {
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir4 div:nth-of-type(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.dir4 div p:nth-of-type(2) {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.dir5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.dir5 div:nth-of-type(1) {
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    background: #95CB7C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dir5 div:nth-of-type(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
}

.dir5 div p:nth-of-type(2) {
    color: #8E88C1;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.code + h2 {
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 0 auto;
}

.pen {
    color: #8E88C1;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-top: 15px;
}

.cards {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 150px 115px 144px 115px;
}
.card {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card div p{
    color: #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.card div svg{
    width: 52px;
    height: 52px;
}
.card2 {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card2 div p{
    color: #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.card2 div svg{
    width: 52px;
    height: 52px;
    margin-top: -12px;
}
.card3 {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card3 div p{
    color: #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.card3 div svg{
    width: 52px;
    height: 52px;
    margin-top: -12px;
}
.card4 {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card4 div p{
    color: #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.card4 div svg{
    width: 52px;
    height: 52px;
}
.card5 {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card5 div p{
    color: #8E88C1;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
.card5 div svg{
    width: 52px;
    height: 52px;
}
iframe{
    width: 100%;
    height: 664px;
    padding-top: 144px;

}
footer{
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;


}
footer p{
    width: 96px;
    height: 24.039px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
    padding: 35px 0 55px 0;

}


